<% if (title) { %>
  <h1><%= title %></h1>
<% } %>

<% if (messages) { %>
  <div class="message-container">
    <%= messages %>
  </div>
<% } %>

<div class="management">
  <ul>
    <li>
      <a href="/inv/add-classification" title="Add New Classification">Add New Classification</a>
    </li>
    <li>
      <a href="/inv/add-inventory" title="Add New Inventory">Add New Inventory</a>
    </li>
  </ul>

  <h2>Manage Inventory</h2>

  <p>Please select a classification to display items</p>

  <%- classificationSelect %>
  <!--  It is within this table that inventory items returned from the controller will be displayed -->
  <table id="inventoryDisplay"></table>

  <noscript>JavaScript must be enabled to use this page.</noscript>

  <script src="../../js/inventory.js"></script>

</div>